$white: #fff;
$light-grey: #ededed;
$grey: #333;

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: $light-grey;
  color:$grey;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 20px;
}

.block { 
  display: block;
  margin: 0.5rem;
}

.lrMargin {
  margin: 0 0.3rem;
}

.disabled { 
  background-color: darkgray;
}

.fitWidth { 
  width: fit-content
}

.fitWidth button:first-of-type:hover { 
  background-color: #d38a8a;
}